# Add any directories, files, or patterns you don't want to be tracked by version control
**/*.pyc
**/.ipynb_checkpoints
**/logs
**/.DS_Store
deps/
support_files/
output/
map_config/
local_settings.py
cred_config.py
